<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic Table</h4>
                    <p class="card-description"> Add class <code>.table</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th> # </th>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Image</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                          <tr>
                            <td> 1 </td>
                            <td>{{i.Product}}</td>
                            <td>{{i.Category}}</td>
                            <td>{{i.Price}}</td>
                            <td>{{i.Quantity}}</td>
                            <td>{{i.Description}}</td>
                              <td><img src="{{i.Image.url}}" alt="image"></td>
                            <td>
                                <form action="{% url 'editpro' dataid=i.id %}">
                                    <button type="submit">Edit</button>
                                </form>
                                <form action="{% url 'deletepro' dataid=i.id %}">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>

                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

</body>
</html>
{% endblock %}