<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic form elements</h4>
                    <p class="card-description"> Basic form elements </p>
                    <form class="forms-sample" method="post" action="{% url 'updatepro' dataid=data.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="Product" value="{{data.Product}}">
                      </div><br><br>
                         <div class="form-group">
                        <label for="exampleInputName1">Category Name</label>
                        <select name="Category" id="" value="{{data.Category}}">
                            {% for i in category_data %}

                            <option>{{ i.Name }}</option>
                            {% endfor %}
                        </select><br><br>
                         </div>
                         <div class="form-group">
                        <label for="exampleInputName1">Price</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="Price" value="{{data.Price}}">
                      </div><br><br>
                              <div class="form-group">
                        <label for="exampleInputName1">Quantity</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="Quantity" value="{{data.Quantity}}">
                      </div><br><br>

                      <div class="form-group">
                        <label>Image</label><br><br>
                        <input type="file" name="Image"><br><br>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="Description" value="{{data.Description}}"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>

</body>
</html>
{% endblock %}